@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans", serif;
}

ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    &:hover{
        color: blue;
    }
}
.btn{
    padding: 15px 25px;
    background-color: #00BAFC;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
    color: white;
    &:hover{
        background-color: lime;
        color: black;
        cursor: pointer;
    }
}

nav{
    padding: 15px 10px;
    background-color: white ;
    box-shadow: 0px 0px 20px 1px;
    .nav_display{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 30px;
            align-items: center;
           
        }
    }
}


.hero{
    background-color: white;
    margin-top: 100px;
    .hero_display{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero_info{
        width: 478px;
        h1, p{
            margin-bottom: 25px;
        }
    }
}

.sec_one{
    margin-top: 150px;
    .se_on_let{
        text-align: center;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        gap: 70px;
        text-align: center;
        justify-content: center;
        .card{
            text-align: center;
            width: 280px;
            box-shadow: 0px 0px 5px 1px;
            padding: 10px 0px;
            transition: all .3s ease;
            &:hover{
                background-color: orange;
                color: white;
            }
            .h3, .p{
                margin-bottom: 10px;
                h3{
                    margin-top: 10px;
                }
            }
        }
    }
    .buts{
        justify-content: center;
        display: flex;
        margin-top: 30px;
        gap: 40px;
    }
}

.sec_two{
    margin-top: 100px;
    .se_tw_let{
        text-align: center;
        h1{
            margin-bottom: 20px;
        }
    }
    .box{
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
        justify-content: center;
        h4{
            margin-bottom: 10px;
        }
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.sec_thr{
    background-color: #00BAFC;
        padding: 35px 0px;
    margin-top: 60px;
    color: white;
    .se_thr_let{
        text-align: center;
        margin-bottom: 35px;
        h1{
            margin-bottom: 10px;
        }
    }
    .pacman{
        background-color: white;
        color: black;
        width: 340px;
        margin-top: 40px;
        margin: 0 auto;
        padding: 20px 0px;
        .in{
            padding: 10px 0px;
            text-align: center;
            input{
                padding: 14px 20px;
                background-color: #F3F3F3;
                border-radius: 10px;
            }

        }
        .btn{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

.bars{
    display: none;
}

footer{
    padding: 50px;
        background-color: #191919;
        color: white;
    .container{
        p{
            color: gray;
        }
        h4{
            margin-bottom: 10px;
        }
        
        .list{
            display: flex;
            gap: 70px;
            .lis1{
                width: 320px;
                
            }
        }
    }
}

@media (max-width: 476px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bars{
        font-size: 30px;
        display: block;
    }

    .nav_info{
        display: none;
    }

    .hero_display{
        flex-direction: column;
        width: 100%;text-align: center;
    }
    .hero_info{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero_display img{
        width: 100%;
        margin-top: 50px;
    }
    .list{
        flex-direction: column;
    }
}


